<div >
    ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    <div>Name:  <%- name %></div>
    <div>id:  <%- id %></div>
    <div>author:  <%- author_id %></div>

    <div><a href="/articles/<%- id %>">Link</a></div>
    <div>Author:   <%- first_name %> <%- second_name %> </div>
    <div>Email: <%- email %></div>
    <div>Content: <%- content %></div>
    <div><a href="/articles/update/<%- id %>" ><button> Update</button></a>
   <a href="/articles/delete/<%- id %>">Delete </a></div>


</div>