<div >
    ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    <div>Name:  <%- article.name %></div>
    <div>id:  <%- article.id %></div>
    <div>Author:   <%- article.first_name %> <%- article.second_name %> </div>
    <div>Email: <%- article.email %></div>
    <div>Content: <%- article.content %></div>
</div>